<h3>Welcome to the ultimate movie library!</h3>

<table>
	<tr>
		<td>Movies</td>
		<td><%= link_to 'Show list', movies_path %></td>
	</tr>
	<tr>
		<td>Series</td>
		<td><%= link_to 'Show list', series_index_path %></td>
	</tr>
	<tr>
		<td>Actors</td>
		<td><%= link_to 'Show list', actors_path %></td>
	</tr>
</table>
