body {
	background-color: #ffffff;
	font-family:Verdana,Helvetica,sans-serif;
	font-size: 14px;
}

table {
	border-collapse: collapse;
}

#episodes {
	font-size: 14px;
	font-weight: normal;
}

#to_be_centered td{
	table-align: center;
}

#to_be_spaced {
	border-left: solid 10px transparent;
}

.list_line_even {
  background:   #FFFFFF;
}

.list_line_odd {
  background:   #fed7de;
}

a {
  color: #000;
  &:visited {
    color: #666; 
		font-weight: bold;}
  &:hover {
    color: #fff;
    background-color: #000; } }


#everything {
	font-size: 0.75em;
}

#top {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: right;
	font-style: italic;
	background-color: black;
	color: white;
}

#menu {
	font-size: 1.25em;
	width: 15em;
	float: left;
	background-color: #a0b4ef;
	padding: 15px;
	margin-left: 11em;
	position: absolute;
}

#cart {
	margin-top: 4.35em;
	margin-left: -9 em;
	float: left;
	max-width: 38.2em;
	min-width: 38.2em;
	background-color: #ed5d5d;
	font-size: 0.9em;
	position: absolute;
}

#main {
	padding-top: 10px;
	margin-left: 40em;
	padding-left: 2em;
	padding-bottom: 2em;
	background-color: white;
	min-height: 550px;
}

#main h1 {
	margin-left: 10em;
}

#main h2 {
	margin-left: 5em;
}

#notice {
	color: red;
}

#total_line {
	font-weight: bold;
	font-style: italic;
	background-color: black;
	color: #ed5d5d;
	text-align: center;
}

#cart_rendered {
	margin-bottom: 10px;
}

#first_button {
	float: left;
}

#second_button {
	float: left;
	display: inline;
}

#log_in_box {
	float: left;
	background-color: yellow;
	font-size: 1.25em;
	width: 9em;
	padding: 15px;
	text-align: center;
	height: 1.2em;
}

.user_form label {
	width: 3em;
	float: left;
}

.user_form textarea, .user_form input {
	margin-left: 5em;
}

.user_form div {
	margin: 0.5em 0;
}

/* Tooltip */

.tooltip{
    position:absolute;
    z-index:999;
    left:-9999px;
    background-color: #a0b4ef;
    padding:5px;
    border:1px solid #fff;
    width:100px;
}
.tooltip p{
    margin:0;
    padding:0;
    color:#fff;
    background-color:black;
    padding:2px 7px;
}

#by {
	text-align: left;
	font-size: 0.75em;
	padding-top: 2em;
	width: 100px;
}

#wider {
	width: 350px;
}

#lined {
	border-bottom: solid 1px black;
}

#lined_up {
	border-top: solid 1px black;
	text-align: center;
}

#in_profile {
	width: 500px;	
}
