body {
	background-color: #ffffff;
	font-family:Verdana,Helvetica,sans-serif;
	font-size: 14px;
}

table {
	border-collapse: collapse;
}

#episodes {
	font-size: 14px;
	font-weight: normal;
}

#to_be_centered {
	text-align: center;
}

#to_be_spaced {
	border-left: solid 10px transparent;
}

.list_line_even {
  background:   #FFFFFF;
}

.list_line_odd {
  background:   #fed7de;
}

a {
  color: #000;
  &:visited {
    color: #666; 
		font-weight: bold;}
  &:hover {
    color: #fff;
    background-color: #000; } }


#everything {
	font-size: 0.75em;
}

#top {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: right;
	font-style: italic;
	background-color: black;
	color: white;
}

#menu {
	font-size: 1.25em;
	width: 15em;
	float: left;
	background-color: #a0b4ef;
	padding: 15px;
	margin-left: 11em;
	position: absolute;
}

#cart {
	margin-top: 4.35em;
	float: left;
	max-width: 38.2em;
	background-color: #ed5d5d;
	font-size: 0.9em;
}

#main {
	padding-top: 10px;
	margin-left: 40em;
	padding-left: 2em;
	padding-bottom: 2em;
	background-color: white;
	min-height: 550px;
}

#main h1 {
	margin-left: 10em;
}

#main h2 {
	margin-left: 5em;
}

#total_line {
	font-weight: bold;
	font-style: italic;
	background-color: black;
	color: #ed5d5d;
	text-align: center;
}

#cart_rendered {
	margin-bottom: 10px;
}

#second_button {
	display: inline;
}




