<!DOCTYPE html>
<html>
<head>
  <title>MovieLibrary</title>
  <%= stylesheet_link_tag "application" %> 
<!-- CHANGE ABOVE TO "MOVIE" TO EXPERIMENT -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
